---
# This configuration file defines all the particular options necessary to support the helper.
# Fields marked (M) are mandatory.
#
# (M) Helper class name.
:helper_name: SamanageHelper

# (M) Samanage API URL for creating tickets
:samanage_url: https://api.samanage.com/incidents.xml

# (M) Samanage API URL for updating and closing tickets
:samanage_update_url: https://api.samanage.com/incidents/

# If 'Y' Samanage will deliver email notifications when tickets/comments are updated via the API
:notifications: Y

# (M) Username with Samanage API access
:username: 

# (M) Password for above username
:password: 

# (M) If 'Y', SSL connections will output to stderr (default is 'N')
:verbose_mode: Y

# (M) Amount of times the helper will follow 301/302 redirections (not working yet)
:redirect_limit: 10

# (M) Samanage API version for HTTP request header
:api_version: application/vnd.samanage.v1.3+xml

# (M) Samanage default ticket priority level
:priority: 

# (M) Samanage ticket site
:site: 

# (M) Samanage ticket department
:department: 

# (M) Samanage ticket category
:category: 

# (M) Samanage ticket subcategory
:subcategory: 

# (M) Nexpose vulnerability severity (for ticket name)
:severity: 

# (M) Samanage ticket requester's email address. 
:requester: <email></email>

# Samanage Helper will check an asset's OS to determine which Samanage group
# should be assigned to each ticket based on the keywords below (feel free to add
# your own). Default ticket assignee will be used with Vulnerability ticketing mode. 
# IP and Default ticketing mode can dynamically assign to any of the groups below
# 
# (M) Default ticket assignee (Samanage group ID, e.g., 400123 )
:def_assignee: 

# (M) Linux/Unix ticket assignee (Samanage group ID)
:nix_assignee: 

# (M) Linux/Unix assignee OS scope. 
:nix_os:
- 'Linux'
- 'Unix'

# (M) Network device ticket assignee (Samanage group ID)
:net_assignee: 

# (M) Network device assignee OS scope
:net_os:
- 'Firewall'

# (M) Windows Server and workstation ticket assignee (Samanage group ID)
:win_assignee: 

# (M) Windows Server ticket assignee OS scope
:win_os:
- 'Windows'
- 'Microsoft'

# (M) Virtualization ticket assignee (Samanage group ID)
:vm_assignee: 

# (M) Virtualization ticket assignee (Samanage group ID)
:vm_os:
- 'VMware'
- 'ESXi'